[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-tinymce4-lite = "*"
isort = "*"
python-dotenv = "*"
dj-database-url = "*"
gunicorn = "*"
postgres = "*"
pytz = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
